@font-face {
  font-family: "Mona Sans", sans-serif;
  src: url("https://cdn.shopify.com/s/files/1/0723/9732/4512/files/m200.ttf")
    format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Mona Sans", sans-serif;
  src: url("https://cdn.shopify.com/s/files/1/0723/9732/4512/files/m300.ttf")
    format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Mona Sans", sans-serif;
  src: url("https://cdn.shopify.com/s/files/1/0723/9732/4512/files/m400.ttf")
    format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Mona Sans", sans-serif;
  src: url("https://cdn.shopify.com/s/files/1/0723/9732/4512/files/m500.ttf")
    format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Mona Sans", sans-serif;
  src: url("https://cdn.shopify.com/s/files/1/0723/9732/4512/files/m600.ttf")
    format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Mona Sans", sans-serif;
  src: url("https://cdn.shopify.com/s/files/1/0723/9732/4512/files/m700.ttf")
    format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Mona Sans", sans-serif;
  src: url("https://cdn.shopify.com/s/files/1/0723/9732/4512/files/m800.ttf")
    format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Mona Sans", sans-serif;
  src: url("https://cdn.shopify.com/s/files/1/0723/9732/4512/files/m900.ttf")
    format("truetype");
  font-weight: 900;
}

body {
  font-family: "Mona Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

:is(.container, .page-width) {
  max-width: 1330px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px !important;
  padding-right: 20px !important;
  width: 100%;
}

.container-fluid {
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

img {
  display: block;
  max-width: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

body.love-pet header.cs-header {
  background: transparent;
  position: absolute;
  width: 100%;
  box-shadow: none;
}

/* GLOBAL */

.bannerMain {
  padding-top: 120px;
  padding-bottom: 60px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}

.banRow {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
  position: relative;
}

.banCnt {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.banCnt span {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0px;
  text-align: center;
  color: #03403f;
  display: block;
  margin-bottom: 20px;
}

.banCnt h1 {
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
  color: #03403f;
}

.banCnt h1 strong {
  font-weight: 600;
}

.banImg {
  max-width: 1100px;
  height: 615px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.banImg img {
  width: 100%;
  object-fit: contain;
}

.banLogo {
  position: absolute;
  height: 180px;
  width: 180px;
  right: 30px;
  top: 40%;
  z-index: 1;
}

.banLogo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  transform: rotate(19deg);
}

.banDogsLayer {
  height: 450px;
  width: 500px;
  position: absolute;
  left: -140px;
  top: 50%;
  z-index: 2;
}

.banDogsLayer img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.banText {
  margin-top: 10px;
}

.banText p {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.4;
  letter-spacing: 0px;
  text-align: center;
  color: #03403f;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

/* BANNER */

.imgCntntBxHldr {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  align-items: center;
  gap: 25px;
}

.CntntBox_CntntHldr h2 {
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: #03403f;
}

.CntntBox_CntntHldr ul.iconContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin: 30px 0;
}

.CntntBox_CntntHldr ul.iconContent li {
  display: flex;
  align-items: center;
  gap: 8px;
}

.CntntBox_CntntHldr ul.iconContent li span {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #03403f;
}

.CntntBox_CntntHldr ul.iconContent li img {
  width: 100%;
  max-width: 57px;
}

.CntntBox_CntntHldr p {
  font-weight: 500;
  font-size: 16px;
  line-height: 29px;
  color: #03403f;
}

.CntntBox_imgHldr {
  position: relative;
}

.CntntBox_imgHldr .CntntBox_text {
  background: linear-gradient(
    127.66deg,
    rgb(239 99 11 / 90%) -8.71%,
    rgb(255 176 126 / 90%) 107.98%
  );
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  left: -60px;
  bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CntntBox_imgHldr .CntntBox_text .ContentHldr {
  max-width: 240px;
  text-align: center;
  margin: 0 auto;
}

.CntntBox_imgHldr .CntntBox_text h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
}

.CntntBox_imgHldr .CntntBox_text p {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}

/* IMAGE CONTENT BOX  */

.benefitsSect {
  background: #d9d9d926;
  padding: 100px 0;
}

.bnftClmnHldr {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-items: stretch;
  position: relative;
}

.bnftCntntHldr h2 {
  font-weight: 600;
  font-size: 34px;
  line-height: 48px;
  color: #03403f;
  margin-bottom: 20px;
  max-width: 650px;
}

.bnftCntntHldr {
  max-width: 750px;
  margin-left: auto;
  position: relative;
  z-index: 2;
}

.bnftCntntHldr p {
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  color: #03403f;
}

.bnftIconBoxesHldr {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  margin-top: 30px;
}

.bnftIconBox h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #011748;
  text-wrap: balance;
  margin-bottom: 20px;
}

.bnftIconBox p {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.bnftIconBox p:not(:last-child) {
  margin-bottom: 15px;
}

.bnftIconBox {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: flex-start;
  gap: 15px;
}

.bnftIBIconHldr .bnftIBIcon {
  width: 80px;
  height: 80px;
  background: rgb(255 255 255 / 80%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bnftIBIconHldr .bnftIBIcon img {
  width: fit-content;
  max-width: 60%;
}

.bnftImgHldr {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.bnftImgHldr img {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-345px);
  z-index: 1;
  max-width: 700px;
}

/* BENEFITS SECTION */

.subscribeSect {
  background: linear-gradient(86.9deg, #011748 -13.87%, #87a5e8 124.8%);
}

.subsCntntHldr {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px;
  padding: 40px 0;
  position: relative;
}

.subsTextHldr {
  max-width: 380px;
}

.subsSaveImgHldr {
  margin-left: auto;
}

.subsHeroImgHldr {
  max-width: 485px;
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
}

.subsHeroImgHldr img {
  width: 100%;
}

.subsSaveImgHldr img {
  max-width: 300px;
}

.subsTextHldr h2 {
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  color: #ffffff;
  margin-bottom: 10px;
  margin-top: 0px;
}

.subsTextHldr p {
  color: #ffffff;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin-top: 15px;
  padding-left: 25px;
}

.subsTextHldr ul li {
  display: flex;
  align-items: center;
  gap: 6px;
  flex-wrap: nowrap;
}

.subsTextHldr ul li span {
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  color: #ffffff;
}

.subsTextHldr ul li img {
  max-width: 18px;
}

.subsTextHldr ul li:not(:last-child) {
  margin-bottom: 6px;
}

/* SUBSCRIBE SECTION */

.stepsSect {
  padding: 60px 0;
}

.stepsTitleRow h2 {
  font-weight: 600;
  font-size: 44px;
  line-height: 52px;
  letter-spacing: 0;
  color: #03403f;
  max-width: 650px;
}

.stepsHldr {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 60px;
  /* background-image: url(../images/stepsBgShape.png); */
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center 27px;
  max-width: 1140px;
  margin: 60px auto 0;
}

.stepsHldr .steBox:nth-child(2) {
  margin-top: 130px;
}

.steBox {
  text-align: center;
}

.stepBox_Icon img {
  width: 100%;
  max-width: 110px;
  margin: 0 auto;
}

.stepBox_Content {
  margin-top: 40px;
}

.stepBox_Content h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0;
  color: #03403f;
  margin-bottom: 14px;
}

.stepBox_Content p {
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0;
  text-align: center;
  color: #03403f;
  max-width: 260px;
  margin: 0 auto;
  text-wrap: balance;
}

/* STEPS SECTION */

.feeedGdrRow {
  border-top: 1px solid #0000004d;
  padding-top: 80px;
  padding-bottom: 50px;
}

.feedingGuide .headHldr h2 {
  font-weight: 600;
  font-size: 44px;
  line-height: 52px;
  letter-spacing: 0px;
  color: #03403f;
}

.feedGdBoxHldr {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 17px;
  padding-top: 70px;
  position: relative;
}

.feeedBoxMn {
  padding: 44px;
  background: #fafafa;
  border-radius: 10px;
  position: relative;
}

.feedImg {
  position: absolute;
  bottom: 20px;
  width: 130px;
  left: 20px;
}

.feedImg img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.feedCnt h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0px;
  color: #03403f;
  text-align: right;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Feeding sec */

.brandsingSect {
  background: rgb(239 99 11 / 8%);
  margin-top: 200px;
}

.brandingLogos ul {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  row-gap: 10px;
  flex-wrap: wrap;
}

.brandingClmnHldr {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  align-items: center;
  gap: 30px;
}

.brandingLogos ul li {
  width: calc(33% - 15px);
}

.brandingLogos ul li img {
  width: 100%;
}

.brandingHeroImg img {
  width: 100%;
  margin-top: -200px;
}

/* Branding Section */

.CarDbX {
  padding-top: 130px;
  padding-bottom: 60px;
  position: relative;
}

.CarDbX::after {
  content: "";
  background: #011748;
  opacity: 5%;
  z-index: 1;
  width: 100%;
  height: 450px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 70%;
  z-index: -1;
}

/* .crdBxRow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 23px;
} */

.cardBxImg {
  width: 100%;
  height: 280px;
}

.cardBxImg img {
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  width: 100%;
}

.crdBxCnt {
  padding-top: 20px;
  padding-left: 20px;
}

.crdBxCnt h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: 0px;
  color: #03403f;
}

.crdBxCnt p {
  margin-top: 16px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0px;
}

/* Prod card section start */

.ProdCardMain {
  padding: 120px 0 60px;
}

.prodCardRow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}

.prodCardMainBox {
  position: relative;
  z-index: 1;
}

.prodCardMainBox::after {
  content: "";
  background: #f8f8f8;
  width: 100%;
  height: 65%;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 12%;
  z-index: -1;
}

.prodCarImg {
  max-width: 341px;
  /* max-height: 513px; */
  margin-left: auto;
  margin-right: auto;
}

.prodCarImg img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.prodCardBtn a {
  font-weight: 500;
  font-size: 22px;
  line-height: 1;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: #fff;
  padding: 19px;
  border-radius: 100px;
  background: #03403f;
  display: block;
  text-align: center;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #03403f;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.prodCardBtn a:hover {
  background: #fff;
  color: #03403f;
  transition: all 0.2s ease-in-out;
}
.prodCardCnt {
  max-width: 370px;
  margin-left: auto;
  margin-right: auto;
}

.prodCardCnt h3 {
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: center;
  margin-top: 20px;
  color: #182d55;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.prodCardCnt h3 em {
  color: #59a675;
  font-style: normal;
}

.prodCardMainBox:nth-child(2) .prodCardCnt h3 em {
  color: #a67259;
}

.prodCardMainBox:nth-child(3) .prodCardCnt h3 em {
  color: #7465c4;
}

.prodCardCnt p {
  margin-top: 12px;
  font-weight: 600;
  font-size: 22px;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  color: #182d55;
}

.prodCardCnt p em {
  font-weight: 400;
}

/* Prod card section end */

/* footerSec css start */

.footerSec {
  padding: 30px 0;
  background: #011748;
}

.footSecRow {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.footSecLeft {
  width: 150px;
  height: 70px;
}

.footSecLeft img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.footSecRight p {
  font-weight: 600;
  font-size: 22px;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  color: #fff;
}

/* footerSec css end */
